<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>

<div class="container center">
    <div class="notfound">
        <h1 class="code">404</h1>
        <h2>Page not found</h2>
        <p class="message">
            The page you are looking for does not exist.
        </p>

        <a href="/" class="home-btn">Return to homepage</a>
    </div>
</div>

</body>
</html>