<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/style.css">
    <title>Home Page</title>
</head>
<body>
    <div class="container">
        <h1>Personal Blog</h1>
    
        <a href="post1.html" class="post">
          <span>My first article</span>
          <span class="date">August 7, 2024</span>
        </a>
    
        <a href="post2.html" class="post">
          <span>Second article</span>
          <span class="date">August 4, 2024</span>
        </a>
    
        <a href="post3.html" class="post">
          <span>Third article</span>
          <span class="date">August 1, 2024</span>
        </a>
    
        <a href="post4.html" class="post">
          <span>Fourth article</span>
          <span class="date">July 30, 2024</span>
        </a>
    
        <a href="post5.html" class="post">
          <span>Fifth article</span>
          <span class="date">July 21, 2024</span>
        </a>
    
        <a href="post6.html" class="post">
          <span>Sixth article</span>
          <span class="date">July 15, 2024</span>
        </a>
    
        <a href="post7.html" class="post">
          <span>Seventh article</span>
          <span class="date">July 8, 2024</span>
        </a>
    
        <a href="post8.html" class="post">
          <span>Eighth article</span>
          <span class="date">July 4, 2024</span>
        </a>
    
        <a href="post9.html" class="post">
          <span>Ninth article</span>
          <span class="date">July 1, 2024</span>
        </a>
      </div>
</body>
</html>